@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --Red: hsl(0, 100%, 74%); 
  --Green: hsl(154, 59%, 51%);
  --Blue: hsl(248, 32%, 49%);
  --DarkBlue: hsl(249, 10%, 26%); 
  --GrayishBlue: hsl(246, 25%, 77%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-size: 1rem;
  text-rendering: optimizeSpeed;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('/images/bg-intro-desktop.png') no-repeat;
  background-color: var(--Red);
  padding: 0px 10rem;
}

section {
  max-width: 100%;
  width: 50%;
}

.contents {
  color: #fff;
  padding-right: 3.75rem;
}

h1 {
  font-size: 3.125rem;
  line-height: 3.625rem;
  margin-bottom: 1.5625rem;
}

.contents p {
  line-height: 1.5625rem;
  opacity: 0.9;
}

.head {
  width: 100%;
  background-color: var(--Blue);
  color: #e3e3da;
  padding: 0.9375rem 1.25rem;
  text-align: center;
  margin-bottom: 1.25rem;
  border-radius: 0.5rem;
  padding-right: 1.875rem;
}

.head span {
  color: #fff;
  font-weight: 600;
}

#form {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 0px 1px rgb(0 0 0 / 17%);
}

form div {
  display: flex;
  flex-direction: column;
}

input, button {
  padding: 1.0625rem 1.5625rem;
  margin-bottom: 1.125rem;
  border: 0.0625rem solid #e3e3da;
  border-radius: 8px;
  font-weight: 600;
}

button {
  text-transform: uppercase;
  color: #fff;
  background-color: var(--Green);
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #77E2B4;
}

form p {
  font-size: 0.625rem;
  color: var(--GrayishBlue);
  margin: auto;
}

form p span {
  color: var(--Red);
  font-weight: 700;
  cursor: pointer;
}

input:focus, button:focus {
  caret-color: var(--Blue);
  outline: none;
}

/*
* Form Inputs Styles
*/
.form-control {
    position: relative;
    margin-bottom: 0.9375rem;
}

.form-control input {
    border: 1px solid #e3e3da;
    color: #3B3A3F;
    border-radius: 0.3125rem;
    display: block;
    width: 100%;
    padding: 0.625rem;
    font-size: 1rem;
}

.form-control.success input {
    border: 2px solid var(--Green);
}

.form-control.error input {
    border: 2px solid var(--Red);
}

.form-control.error img {
    visibility: visible;
}

.form-control.error span {
    visibility: visible;
}

.form-control img {
    position: absolute;
    top: 0.625rem;
    right: 1.25rem;
    visibility: hidden;
}

.form-control span {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    color: var(--Red);
    visibility: hidden;
}

/*
* Form Inputs Styles end
*/

.attribution { 
  font-size: 11px; 
  text-align: center;
  background-color: var(--Red); 
  }
.attribution a { 
  color: hsl(228, 45%, 44%); 
  }


@media (max-width: 962px) {
  main {
    padding: 2.5rem 1.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('/images/bg-intro-mobile.png');
    background-color: var(--Red);
  }

  section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contents {
    text-align: center;
    padding: 2.5rem 0 3.75rem;
  }

  form p {
    text-align: center;
  }

  h1 {
    font-size: 2.375rem;
  }

  .head {
    padding: 0.9375rem 3.75rem;
  }
}

